# coding: utf-8

"""
    Secure Email Gateway API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class GetApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def esa_api_v20_config_local_quarantines_quarantine_name_get(self, quarantine_name, **kwargs):  # noqa: E501
        """get pvo quarantine details  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_local_quarantines_quarantine_name_get(quarantine_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quarantine_name: (required)
        :param str device_type:
        :return: ConfigLocalQuarantinesGet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_config_local_quarantines_quarantine_name_get_with_http_info(quarantine_name, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_config_local_quarantines_quarantine_name_get_with_http_info(quarantine_name, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_config_local_quarantines_quarantine_name_get_with_http_info(self, quarantine_name, **kwargs):  # noqa: E501
        """get pvo quarantine details  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_local_quarantines_quarantine_name_get_with_http_info(quarantine_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quarantine_name: (required)
        :param str device_type:
        :return: ConfigLocalQuarantinesGet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quarantine_name', 'device_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_config_local_quarantines_quarantine_name_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'quarantine_name' is set
        if ('quarantine_name' not in params or
                params['quarantine_name'] is None):
            raise ValueError("Missing the required parameter `quarantine_name` when calling `esa_api_v20_config_local_quarantines_quarantine_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'quarantine_name' in params:
            path_params['quarantine_name'] = params['quarantine_name']  # noqa: E501

        query_params = []
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/config/local_quarantines/{quarantine_name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigLocalQuarantinesGet',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_config_logs_subscriptions_get(self, **kwargs):  # noqa: E501
        """Retrieve the details of all log subscriptions configured in your appliance  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_logs_subscriptions_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str retrieval_method:
        :return: ConfigLogSubscriptionsGet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_config_logs_subscriptions_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_config_logs_subscriptions_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_config_logs_subscriptions_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve the details of all log subscriptions configured in your appliance  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_logs_subscriptions_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str retrieval_method:
        :return: ConfigLogSubscriptionsGet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['retrieval_method']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_config_logs_subscriptions_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'retrieval_method' in params:
            query_params.append(('retrievalMethod', params['retrieval_method']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/config/logs/subscriptions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigLogSubscriptionsGet',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_config_quarantine_filters_quarantine_name_get(self, quarantine_name, **kwargs):  # noqa: E501
        """get quarantine users  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_quarantine_filters_quarantine_name_get(quarantine_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quarantine_name: (required)
        :param str device_type:
        :return: ConfigLocalQuarantinesFilters
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_config_quarantine_filters_quarantine_name_get_with_http_info(quarantine_name, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_config_quarantine_filters_quarantine_name_get_with_http_info(quarantine_name, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_config_quarantine_filters_quarantine_name_get_with_http_info(self, quarantine_name, **kwargs):  # noqa: E501
        """get quarantine users  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_quarantine_filters_quarantine_name_get_with_http_info(quarantine_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quarantine_name: (required)
        :param str device_type:
        :return: ConfigLocalQuarantinesFilters
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quarantine_name', 'device_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_config_quarantine_filters_quarantine_name_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'quarantine_name' is set
        if ('quarantine_name' not in params or
                params['quarantine_name'] is None):
            raise ValueError("Missing the required parameter `quarantine_name` when calling `esa_api_v20_config_quarantine_filters_quarantine_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'quarantine_name' in params:
            path_params['quarantine_name'] = params['quarantine_name']  # noqa: E501

        query_params = []
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/config/quarantine_filters/{quarantine_name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigLocalQuarantinesFilters',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_config_quarantine_users_get(self, **kwargs):  # noqa: E501
        """get quarantine users  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_quarantine_users_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_type:
        :return: ConfigLocalQuarantinesUsers
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_config_quarantine_users_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_config_quarantine_users_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_config_quarantine_users_get_with_http_info(self, **kwargs):  # noqa: E501
        """get quarantine users  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_quarantine_users_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_type:
        :return: ConfigLocalQuarantinesUsers
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_config_quarantine_users_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/config/quarantine_users', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigLocalQuarantinesUsers',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_config_sdr_categories_get(self, **kwargs):  # noqa: E501
        """get sdr categories  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_sdr_categories_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_type:
        :return: ConfigSdrCategories
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_config_sdr_categories_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_config_sdr_categories_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_config_sdr_categories_get_with_http_info(self, **kwargs):  # noqa: E501
        """get sdr categories  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_sdr_categories_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_type:
        :return: ConfigSdrCategories
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_config_sdr_categories_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/config/sdr_categories', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigSdrCategories',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_config_sdr_threat_levels_get(self, **kwargs):  # noqa: E501
        """get sdr threat levels  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_sdr_threat_levels_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_type:
        :return: ConfigSdrThreatLevels
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_config_sdr_threat_levels_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_config_sdr_threat_levels_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_config_sdr_threat_levels_get_with_http_info(self, **kwargs):  # noqa: E501
        """get sdr threat levels  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_config_sdr_threat_levels_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_type:
        :return: ConfigSdrThreatLevels
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_config_sdr_threat_levels_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/config/sdr_threat_levels', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigSdrThreatLevels',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_logs_subscription_name_get(self, subscription_name, **kwargs):  # noqa: E501
        """Retrieve the details of all log files for a specific log subscription  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_logs_subscription_name_get(subscription_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str subscription_name: The name of the log subscription. (required)
        :param str start_date: The start date must be in ISO8601 format.
        :param str end_date: The end date must be in ISO8601 format.
        :param str compute_hash: To indicate whether to include the file SHA-256 value of the log file in the response.
        :return: ConfigLogSubscriptionDetailGet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_logs_subscription_name_get_with_http_info(subscription_name, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_logs_subscription_name_get_with_http_info(subscription_name, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_logs_subscription_name_get_with_http_info(self, subscription_name, **kwargs):  # noqa: E501
        """Retrieve the details of all log files for a specific log subscription  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_logs_subscription_name_get_with_http_info(subscription_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str subscription_name: The name of the log subscription. (required)
        :param str start_date: The start date must be in ISO8601 format.
        :param str end_date: The end date must be in ISO8601 format.
        :param str compute_hash: To indicate whether to include the file SHA-256 value of the log file in the response.
        :return: ConfigLogSubscriptionDetailGet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['subscription_name', 'start_date', 'end_date', 'compute_hash']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_logs_subscription_name_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'subscription_name' is set
        if ('subscription_name' not in params or
                params['subscription_name'] is None):
            raise ValueError("Missing the required parameter `subscription_name` when calling `esa_api_v20_logs_subscription_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'subscription_name' in params:
            path_params['subscription_name'] = params['subscription_name']  # noqa: E501

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'compute_hash' in params:
            query_params.append(('computeHash', params['compute_hash']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/logs/{subscription_name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfigLogSubscriptionDetailGet',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_logs_subscription_name_log_file_name_get(self, subscription_name, log_file_name, **kwargs):  # noqa: E501
        """Retrieve the actual log file using the downloadUrl attribute of the response obtained from the API signature of the previous API  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_logs_subscription_name_log_file_name_get(subscription_name, log_file_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str subscription_name: The name of the log subscription (required)
        :param str log_file_name: The name of the log file to be downloaded. (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_logs_subscription_name_log_file_name_get_with_http_info(subscription_name, log_file_name, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_logs_subscription_name_log_file_name_get_with_http_info(subscription_name, log_file_name, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_logs_subscription_name_log_file_name_get_with_http_info(self, subscription_name, log_file_name, **kwargs):  # noqa: E501
        """Retrieve the actual log file using the downloadUrl attribute of the response obtained from the API signature of the previous API  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_logs_subscription_name_log_file_name_get_with_http_info(subscription_name, log_file_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str subscription_name: The name of the log subscription (required)
        :param str log_file_name: The name of the log file to be downloaded. (required)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['subscription_name', 'log_file_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_logs_subscription_name_log_file_name_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'subscription_name' is set
        if ('subscription_name' not in params or
                params['subscription_name'] is None):
            raise ValueError("Missing the required parameter `subscription_name` when calling `esa_api_v20_logs_subscription_name_log_file_name_get`")  # noqa: E501
        # verify the required parameter 'log_file_name' is set
        if ('log_file_name' not in params or
                params['log_file_name'] is None):
            raise ValueError("Missing the required parameter `log_file_name` when calling `esa_api_v20_logs_subscription_name_log_file_name_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'subscription_name' in params:
            path_params['subscription_name'] = params['subscription_name']  # noqa: E501
        if 'log_file_name' in params:
            path_params['log_file_name'] = params['log_file_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/logs/{subscription_name}/{log_file_name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_blocklist_get(self, **kwargs):  # noqa: E501
        """Retrieve Blocklist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_blocklist_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str action:
        :param str view_by:
        :param str search:
        :param str quarantine_type:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: QuarantineSafelist
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_blocklist_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_blocklist_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_blocklist_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve Blocklist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_blocklist_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str action:
        :param str view_by:
        :param str search:
        :param str quarantine_type:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: QuarantineSafelist
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['action', 'view_by', 'search', 'quarantine_type', 'order_dir', 'order_by', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_blocklist_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'action' in params:
            query_params.append(('action', params['action']))  # noqa: E501
        if 'view_by' in params:
            query_params.append(('viewBy', params['view_by']))  # noqa: E501
        if 'search' in params:
            query_params.append(('search', params['search']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501
        if 'order_dir' in params:
            query_params.append(('orderDir', params['order_dir']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/blocklist', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineSafelist',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_messages_attachment_get(self, **kwargs):  # noqa: E501
        """Download an attachment accompanying a message in a quarantine  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_attachment_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str mid:
        :param str attachment_id:
        :param str quarantine_type:
        :return: QuarantineMessagesPvoAttachment
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_messages_attachment_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_messages_attachment_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_messages_attachment_get_with_http_info(self, **kwargs):  # noqa: E501
        """Download an attachment accompanying a message in a quarantine  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_attachment_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str mid:
        :param str attachment_id:
        :param str quarantine_type:
        :return: QuarantineMessagesPvoAttachment
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['mid', 'attachment_id', 'quarantine_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_messages_attachment_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'mid' in params:
            query_params.append(('mid', params['mid']))  # noqa: E501
        if 'attachment_id' in params:
            query_params.append(('attachmentId', params['attachment_id']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/messages/attachment', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineMessagesPvoAttachment',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_messages_details_get(self, **kwargs):  # noqa: E501
        """Retrieve details of a message that match multiple attributes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_details_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str mid:
        :param str quarantine_type:
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_messages_details_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_messages_details_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_messages_details_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve details of a message that match multiple attributes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_details_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str mid:
        :param str quarantine_type:
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['mid', 'quarantine_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_messages_details_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'mid' in params:
            query_params.append(('mid', params['mid']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/messages/details', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2003',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_messages_get(self, **kwargs):  # noqa: E501
        """Search for messages in the spam quarantine that match multiple attributes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str quarantine_type:
        :param str quarantines:
        :param str originating_esa_ip:
        :param str subject_filter_by:
        :param str subject_filter_value:
        :param str attachment_name:
        :param str attachment_size_filter_by:
        :param str attachment_size_from_value:
        :param str attachment_size_to_value:
        :param str envelope_recipient_filter_by:
        :param str envelope_recipient_filter_value:
        :param str envelope_sender_filter_by:
        :param str envelope_sender_filter_value:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_messages_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_messages_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_messages_get_with_http_info(self, **kwargs):  # noqa: E501
        """Search for messages in the spam quarantine that match multiple attributes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str quarantine_type:
        :param str quarantines:
        :param str originating_esa_ip:
        :param str subject_filter_by:
        :param str subject_filter_value:
        :param str attachment_name:
        :param str attachment_size_filter_by:
        :param str attachment_size_from_value:
        :param str attachment_size_to_value:
        :param str envelope_recipient_filter_by:
        :param str envelope_recipient_filter_value:
        :param str envelope_sender_filter_by:
        :param str envelope_sender_filter_value:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'quarantine_type', 'quarantines', 'originating_esa_ip', 'subject_filter_by', 'subject_filter_value', 'attachment_name', 'attachment_size_filter_by', 'attachment_size_from_value', 'attachment_size_to_value', 'envelope_recipient_filter_by', 'envelope_recipient_filter_value', 'envelope_sender_filter_by', 'envelope_sender_filter_value', 'order_dir', 'order_by', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_messages_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501
        if 'quarantines' in params:
            query_params.append(('quarantines', params['quarantines']))  # noqa: E501
        if 'originating_esa_ip' in params:
            query_params.append(('originatingEsaIp', params['originating_esa_ip']))  # noqa: E501
        if 'subject_filter_by' in params:
            query_params.append(('subjectFilterBy', params['subject_filter_by']))  # noqa: E501
        if 'subject_filter_value' in params:
            query_params.append(('subjectFilterValue', params['subject_filter_value']))  # noqa: E501
        if 'attachment_name' in params:
            query_params.append(('attachmentName', params['attachment_name']))  # noqa: E501
        if 'attachment_size_filter_by' in params:
            query_params.append(('attachmentSizeFilterBy', params['attachment_size_filter_by']))  # noqa: E501
        if 'attachment_size_from_value' in params:
            query_params.append(('attachmentSizeFromValue', params['attachment_size_from_value']))  # noqa: E501
        if 'attachment_size_to_value' in params:
            query_params.append(('attachmentSizeToValue', params['attachment_size_to_value']))  # noqa: E501
        if 'envelope_recipient_filter_by' in params:
            query_params.append(('envelopeRecipientFilterBy', params['envelope_recipient_filter_by']))  # noqa: E501
        if 'envelope_recipient_filter_value' in params:
            query_params.append(('envelopeRecipientFilterValue', params['envelope_recipient_filter_value']))  # noqa: E501
        if 'envelope_sender_filter_by' in params:
            query_params.append(('envelopeSenderFilterBy', params['envelope_sender_filter_by']))  # noqa: E501
        if 'envelope_sender_filter_value' in params:
            query_params.append(('envelopeSenderFilterValue', params['envelope_sender_filter_value']))  # noqa: E501
        if 'order_dir' in params:
            query_params.append(('orderDir', params['order_dir']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/messages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2001',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_messages_rules_get(self, **kwargs):  # noqa: E501
        """Retrieve the rule summary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_rules_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quarantine_type:
        :return: QuarantinePvoRules
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_messages_rules_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_messages_rules_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_messages_rules_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve the rule summary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_rules_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quarantine_type:
        :return: QuarantinePvoRules
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quarantine_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_messages_rules_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/messages/rules', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantinePvoRules',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_rules_search_get(self, **kwargs):  # noqa: E501
        """Search for messages in quarantine that match a specific rule ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_rules_search_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quarantine_type:
        :param str rule_id:
        :param str order_by:
        :param str order_dir:
        :param str offset:
        :param str limit:
        :return: QuarantineMessagesPvoRulesSearch
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_rules_search_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_rules_search_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_rules_search_get_with_http_info(self, **kwargs):  # noqa: E501
        """Search for messages in quarantine that match a specific rule ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_rules_search_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quarantine_type:
        :param str rule_id:
        :param str order_by:
        :param str order_dir:
        :param str offset:
        :param str limit:
        :return: QuarantineMessagesPvoRulesSearch
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['quarantine_type', 'rule_id', 'order_by', 'order_dir', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_rules_search_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501
        if 'rule_id' in params:
            query_params.append(('ruleId', params['rule_id']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'order_dir' in params:
            query_params.append(('orderDir', params['order_dir']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/rules_search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineMessagesPvoRulesSearch',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_safelist_get(self, **kwargs):  # noqa: E501
        """Retrieve Safelist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_safelist_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str action:
        :param str view_by:
        :param str search:
        :param str quarantine_type:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: QuarantineSafelist
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_safelist_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_safelist_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_safelist_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve Safelist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_safelist_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str action:
        :param str view_by:
        :param str search:
        :param str quarantine_type:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: QuarantineSafelist
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['action', 'view_by', 'search', 'quarantine_type', 'order_dir', 'order_by', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_safelist_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'action' in params:
            query_params.append(('action', params['action']))  # noqa: E501
        if 'view_by' in params:
            query_params.append(('viewBy', params['view_by']))  # noqa: E501
        if 'search' in params:
            query_params.append(('search', params['search']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501
        if 'order_dir' in params:
            query_params.append(('orderDir', params['order_dir']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/safelist', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineSafelist',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_reporting_advanced_phishing_protection_summary_get(self, **kwargs):  # noqa: E501
        """advanced phishing protection summary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_advanced_phishing_protection_summary_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :return: ReportingMailAdvancedPhishingProtectionSummary
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_reporting_advanced_phishing_protection_summary_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_reporting_advanced_phishing_protection_summary_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_reporting_advanced_phishing_protection_summary_get_with_http_info(self, **kwargs):  # noqa: E501
        """advanced phishing protection summary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_advanced_phishing_protection_summary_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :return: ReportingMailAdvancedPhishingProtectionSummary
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'device_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_reporting_advanced_phishing_protection_summary_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/reporting/advanced_phishing_protection_summary', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReportingMailAdvancedPhishingProtectionSummary',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_completed_timestamp_get(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename completed timestamp  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_completed_timestamp_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameCompletedTimestamp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_completed_timestamp_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_completed_timestamp_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_completed_timestamp_get_with_http_info(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename completed timestamp  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_completed_timestamp_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameCompletedTimestamp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'device_type', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_reporting_mail_amp_file_analysis_by_filename_completed_timestamp_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/reporting/mail_amp_file_analysis_by_filename/completed_timestamp', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReportingMailAmpFileAnalysisByFilenameCompletedTimestamp',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_console_url_get(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename console url  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_console_url_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameConsoleUrl
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_console_url_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_console_url_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_console_url_get_with_http_info(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename console url  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_console_url_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameConsoleUrl
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'device_type', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_reporting_mail_amp_file_analysis_by_filename_console_url_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/reporting/mail_amp_file_analysis_by_filename/console_url', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReportingMailAmpFileAnalysisByFilenameConsoleUrl',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_get(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename completed timestamp  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameCompletedTimestamp
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_get_with_http_info(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename completed timestamp  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameCompletedTimestamp
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'device_type', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_reporting_mail_amp_file_analysis_by_filename_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/reporting/mail_amp_file_analysis_by_filename', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReportingMailAmpFileAnalysisByFilenameCompletedTimestamp',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_interim_verdict_get(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename interim verdict  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_interim_verdict_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameInterimVerdict
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_interim_verdict_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_interim_verdict_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_interim_verdict_get_with_http_info(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename interim verdict  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_interim_verdict_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameInterimVerdict
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'device_type', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_reporting_mail_amp_file_analysis_by_filename_interim_verdict_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/reporting/mail_amp_file_analysis_by_filename/interim_verdict', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReportingMailAmpFileAnalysisByFilenameInterimVerdict',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_msg_direction_get(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename msg direction  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_msg_direction_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameMsgDirection
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_msg_direction_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_msg_direction_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_msg_direction_get_with_http_info(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename msg direction  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_msg_direction_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameMsgDirection
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'device_type', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_reporting_mail_amp_file_analysis_by_filename_msg_direction_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/reporting/mail_amp_file_analysis_by_filename/msg_direction', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReportingMailAmpFileAnalysisByFilenameMsgDirection',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_run_id_get(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename run id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_run_id_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameRunId
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_run_id_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_run_id_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_run_id_get_with_http_info(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename run id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_run_id_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameRunId
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'device_type', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_reporting_mail_amp_file_analysis_by_filename_run_id_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/reporting/mail_amp_file_analysis_by_filename/run_id', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReportingMailAmpFileAnalysisByFilenameRunId',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_score_get(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_score_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameScore
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_score_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_score_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_reporting_mail_amp_file_analysis_by_filename_score_get_with_http_info(self, **kwargs):  # noqa: E501
        """mail amp file analysis by filename score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_reporting_mail_amp_file_analysis_by_filename_score_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str device_type:
        :param str top:
        :return: ReportingMailAmpFileAnalysisByFilenameScore
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'device_type', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_reporting_mail_amp_file_analysis_by_filename_score_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'device_type' in params:
            query_params.append(('device_type', params['device_type']))  # noqa: E501
        if 'top' in params:
            query_params.append(('top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
[...]
