# coding: utf-8

"""
    Secure Email Gateway API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 2.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SpamQuarantineApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def esa_api_v20_quarantine_blocklist_delete(self, body, **kwargs):  # noqa: E501
        """Delete blocklist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_blocklist_delete(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineBlocklistBody body: Quarantine blocklist delete request body (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_blocklist_delete_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_blocklist_delete_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_blocklist_delete_with_http_info(self, body, **kwargs):  # noqa: E501
        """Delete blocklist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_blocklist_delete_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineBlocklistBody body: Quarantine blocklist delete request body (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_blocklist_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `esa_api_v20_quarantine_blocklist_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/blocklist', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_blocklist_get(self, **kwargs):  # noqa: E501
        """Retrieve Blocklist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_blocklist_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str action:
        :param str view_by:
        :param str search:
        :param str quarantine_type:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: QuarantineSafelist
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_blocklist_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_blocklist_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_blocklist_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve Blocklist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_blocklist_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str action:
        :param str view_by:
        :param str search:
        :param str quarantine_type:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: QuarantineSafelist
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['action', 'view_by', 'search', 'quarantine_type', 'order_dir', 'order_by', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_blocklist_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'action' in params:
            query_params.append(('action', params['action']))  # noqa: E501
        if 'view_by' in params:
            query_params.append(('viewBy', params['view_by']))  # noqa: E501
        if 'search' in params:
            query_params.append(('search', params['search']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501
        if 'order_dir' in params:
            query_params.append(('orderDir', params['order_dir']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/blocklist', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineSafelist',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_blocklist_post(self, body, **kwargs):  # noqa: E501
        """Add, edit and append Blocklist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_blocklist_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineBlocklistPostRequestBody body: Add, edit and append Blocklist entries request body (required)
        :return: QuarantineBlocklistPost
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_blocklist_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_blocklist_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_blocklist_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Add, edit and append Blocklist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_blocklist_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineBlocklistPostRequestBody body: Add, edit and append Blocklist entries request body (required)
        :return: QuarantineBlocklistPost
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_blocklist_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `esa_api_v20_quarantine_blocklist_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/blocklist', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineBlocklistPost',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_messages_delete(self, body, **kwargs):  # noqa: E501
        """Delete messages that match various attribute  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_delete(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineMessagesBody1 body: Quarantine message delete request body (required)
        :return: QuarantineMessagesDelete
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_messages_delete_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_messages_delete_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_messages_delete_with_http_info(self, body, **kwargs):  # noqa: E501
        """Delete messages that match various attribute  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_delete_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineMessagesBody1 body: Quarantine message delete request body (required)
        :return: QuarantineMessagesDelete
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_messages_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `esa_api_v20_quarantine_messages_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/messages', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineMessagesDelete',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_messages_details_get(self, **kwargs):  # noqa: E501
        """Retrieve details of a message that match multiple attributes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_details_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str mid:
        :param str quarantine_type:
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_messages_details_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_messages_details_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_messages_details_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve details of a message that match multiple attributes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_details_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str mid:
        :param str quarantine_type:
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['mid', 'quarantine_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_messages_details_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'mid' in params:
            query_params.append(('mid', params['mid']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/messages/details', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2003',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_messages_get(self, **kwargs):  # noqa: E501
        """Search for messages in the spam quarantine that match multiple attributes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str quarantine_type:
        :param str quarantines:
        :param str originating_esa_ip:
        :param str subject_filter_by:
        :param str subject_filter_value:
        :param str attachment_name:
        :param str attachment_size_filter_by:
        :param str attachment_size_from_value:
        :param str attachment_size_to_value:
        :param str envelope_recipient_filter_by:
        :param str envelope_recipient_filter_value:
        :param str envelope_sender_filter_by:
        :param str envelope_sender_filter_value:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_messages_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_messages_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_messages_get_with_http_info(self, **kwargs):  # noqa: E501
        """Search for messages in the spam quarantine that match multiple attributes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start_date:
        :param str end_date:
        :param str quarantine_type:
        :param str quarantines:
        :param str originating_esa_ip:
        :param str subject_filter_by:
        :param str subject_filter_value:
        :param str attachment_name:
        :param str attachment_size_filter_by:
        :param str attachment_size_from_value:
        :param str attachment_size_to_value:
        :param str envelope_recipient_filter_by:
        :param str envelope_recipient_filter_value:
        :param str envelope_sender_filter_by:
        :param str envelope_sender_filter_value:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start_date', 'end_date', 'quarantine_type', 'quarantines', 'originating_esa_ip', 'subject_filter_by', 'subject_filter_value', 'attachment_name', 'attachment_size_filter_by', 'attachment_size_from_value', 'attachment_size_to_value', 'envelope_recipient_filter_by', 'envelope_recipient_filter_value', 'envelope_sender_filter_by', 'envelope_sender_filter_value', 'order_dir', 'order_by', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_messages_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501
        if 'quarantines' in params:
            query_params.append(('quarantines', params['quarantines']))  # noqa: E501
        if 'originating_esa_ip' in params:
            query_params.append(('originatingEsaIp', params['originating_esa_ip']))  # noqa: E501
        if 'subject_filter_by' in params:
            query_params.append(('subjectFilterBy', params['subject_filter_by']))  # noqa: E501
        if 'subject_filter_value' in params:
            query_params.append(('subjectFilterValue', params['subject_filter_value']))  # noqa: E501
        if 'attachment_name' in params:
            query_params.append(('attachmentName', params['attachment_name']))  # noqa: E501
        if 'attachment_size_filter_by' in params:
            query_params.append(('attachmentSizeFilterBy', params['attachment_size_filter_by']))  # noqa: E501
        if 'attachment_size_from_value' in params:
            query_params.append(('attachmentSizeFromValue', params['attachment_size_from_value']))  # noqa: E501
        if 'attachment_size_to_value' in params:
            query_params.append(('attachmentSizeToValue', params['attachment_size_to_value']))  # noqa: E501
        if 'envelope_recipient_filter_by' in params:
            query_params.append(('envelopeRecipientFilterBy', params['envelope_recipient_filter_by']))  # noqa: E501
        if 'envelope_recipient_filter_value' in params:
            query_params.append(('envelopeRecipientFilterValue', params['envelope_recipient_filter_value']))  # noqa: E501
        if 'envelope_sender_filter_by' in params:
            query_params.append(('envelopeSenderFilterBy', params['envelope_sender_filter_by']))  # noqa: E501
        if 'envelope_sender_filter_value' in params:
            query_params.append(('envelopeSenderFilterValue', params['envelope_sender_filter_value']))  # noqa: E501
        if 'order_dir' in params:
            query_params.append(('orderDir', params['order_dir']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/messages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2001',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_messages_post(self, body, **kwargs):  # noqa: E501
        """Release messages that match various attribute  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineMessagesBody body: Quarantine message release request body (required)
        :return: InlineResponse2002
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_messages_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_messages_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_messages_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Release messages that match various attribute  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_messages_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineMessagesBody body: Quarantine message release request body (required)
        :return: InlineResponse2002
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_messages_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `esa_api_v20_quarantine_messages_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/messages', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2002',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_safelist_delete(self, body, **kwargs):  # noqa: E501
        """Delete safelist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_safelist_delete(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineSafelistBody body: Quarantine safelist delete request body (required)
        :return: InlineResponse2004
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_safelist_delete_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_safelist_delete_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_safelist_delete_with_http_info(self, body, **kwargs):  # noqa: E501
        """Delete safelist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_safelist_delete_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineSafelistBody body: Quarantine safelist delete request body (required)
        :return: InlineResponse2004
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_safelist_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `esa_api_v20_quarantine_safelist_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/safelist', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2004',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_safelist_get(self, **kwargs):  # noqa: E501
        """Retrieve Safelist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_safelist_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str action:
        :param str view_by:
        :param str search:
        :param str quarantine_type:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: QuarantineSafelist
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_safelist_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_safelist_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_safelist_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve Safelist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_safelist_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str action:
        :param str view_by:
        :param str search:
        :param str quarantine_type:
        :param str order_dir:
        :param str order_by:
        :param str offset:
        :param str limit:
        :return: QuarantineSafelist
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['action', 'view_by', 'search', 'quarantine_type', 'order_dir', 'order_by', 'offset', 'limit']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_safelist_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'action' in params:
            query_params.append(('action', params['action']))  # noqa: E501
        if 'view_by' in params:
            query_params.append(('viewBy', params['view_by']))  # noqa: E501
        if 'search' in params:
            query_params.append(('search', params['search']))  # noqa: E501
        if 'quarantine_type' in params:
            query_params.append(('quarantineType', params['quarantine_type']))  # noqa: E501
        if 'order_dir' in params:
            query_params.append(('orderDir', params['order_dir']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('orderBy', params['order_by']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/safelist', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineSafelist',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def esa_api_v20_quarantine_safelist_post(self, body, **kwargs):  # noqa: E501
        """Add, edit and append Safelist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_safelist_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineSafelistPostRequestBody body: Add, edit and append Safelist entries request body (required)
        :return: QuarantineSafelistPost
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.esa_api_v20_quarantine_safelist_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.esa_api_v20_quarantine_safelist_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def esa_api_v20_quarantine_safelist_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Add, edit and append Safelist entries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.esa_api_v20_quarantine_safelist_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuarantineSafelistPostRequestBody body: Add, edit and append Safelist entries request body (required)
        :return: QuarantineSafelistPost
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method esa_api_v20_quarantine_safelist_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `esa_api_v20_quarantine_safelist_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json, text/plain, */*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BasicAuth', 'UserSecurity']  # noqa: E501

        return self.api_client.call_api(
            '/esa/api/v2.0/quarantine/safelist', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='QuarantineSafelistPost',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
